body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
	    width: 100%;
    height: 100%;
	background-color: var(--tg-theme-bg-color);
}

.body {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--tg-theme-accent-text-color);
    opacity: 0.25; /* Прозрачность фона */
    z-index: 0; /* Псевдоэлемент будет находиться позади содержимого */
}

#dollar {
color: var(--tg-theme-accent-text-color);
position: relative;
top: 0px;
font-size: 100px;
transform: rotate(-20deg);
opacity: 0.6;
left: 0px;
width: 0px;
}

#euro {
color: var(--tg-theme-bg-color);
position: relative;
top: -190px;
font-size: 100px;
transform: rotate(20deg);
opacity: 0.4;
margin-left: auto;
margin-right: 50px;
width: 0px;
}

h1 {
  position: relative;
	color: var(--tg-theme-accent-text-color);
  top: -108px;
	text-shadow: 0px 0px 60px var(--tg-theme-bg-color);
}

h2 {
  position: relative;
  font-size: 150px;
}

header {
    background-image: linear-gradient(to left top, var(--tg-theme-bg-color), var(--tg-theme-accent-text-color));
    color: var(--tg-theme-text-color);
    padding: 1rem;
    text-align: center;
    height: 4rem;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 5px;
}

nav ul li a {
    color: var(--tg-theme-button-text-color);
    text-decoration: none;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

.product {
    position: relative;
    height: 600px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    color: var(--tg-theme-text-color);
	background-color: var(--tg-theme-bg-color);
}


.price {
    font-weight: bold;
    color: var(--tg-theme-accent-text-color);
    font-size: 20px;
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    padding: 0.5em 0;
}

#nav {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    z-index: 4;
    background-color: var(--tg-theme-accent-text-color);
}

#nav a {
  padding: 3px;
  margin-right: 8px;
  margin-left: 8px;
  text-decoration: none;
  color: var(--tg-theme-button-text-color);
  font-size: 20px;
	opacity: 0.8;
}

#nav a:hover {
  opacity: 1;
}

button {
  color: var(--tg-theme-button-text-color);
  background-color: var(--tg-theme-accent-text-color);
  border: none;
  border-radius: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  border: solid 1.5px var(--tg-theme-accent-text-color);
	z-index: 1;
}

button:hover {
  color: var(--tg-theme-accent-text-color);
  background-color: var(--tg-theme-bg-color);
  border: solid 1.5px var(--tg-theme-accent-text-color);
}

h3 {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

#shamp {
position: relative;
margin-top: 35px;
width: 303px;
height: auto;
margin-left:auto;
margin-right:auto;
border-radius: 20px;
}

.emoji {
position: relative;
margin-top: 70px;
width: 303px;
height: auto;
margin-left:auto;
margin-right:auto;
border-radius: 20px;
}

img {
position: relative;
width: 75%;
height: 75%;
border-radius: 15px;
}
